@model CV_builder.Models.CVModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a new CV</h1>

<h4>CV Template</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div>
                <h3>Education</h3>
                <div id="educations">
                    <div class="card education-template mb-3">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <div class="form-group">
                                <label>Institution</label>
                                <input name="Education[0].Institution" class="form-control" />
                                <span asp-validation-for="Education[0].Institution" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Field Of Study</label>
                                <input name="Education[0].FieldOfStudy" class="form-control" />
                                <span asp-validation-for="Education[0].FieldOfStudy" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Faculty</label>
                                <input name="Education[0].Faculty" class="form-control" />
                                <span asp-validation-for="Education[0].Faculty" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Education Level</label>
                                <input name="Education[0].EducationLevel" class="form-control" />
                                <span asp-validation-for="Education[0].EducationLevel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <input name="Education[0].Status" class="form-control" />
                                <span asp-validation-for="Education[0].Status" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" id="add-education" class="btn btn-secondary">Add Education</button>

                <h3>Work Experience</h3>
                <div id="workExperiences">
                    <div class="card workExperience-template mb-3">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <div class="form-group">
                                <label>Job Title</label>
                                <input name="WorkExperience[0].JobTitle" class="form-control" />
                                <span asp-validation-for="WorkExperience[0].JobTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Company</label>
                                <input name="WorkExperience[0].Company" class="form-control" />
                                <span asp-validation-for="WorkExperience[0].Company" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Workload</label>
                                <input name="WorkExperience[0].Workload" class="form-control" />
                                <span asp-validation-for="WorkExperience[0].Workload" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input name="WorkExperience[0].Address" class="form-control" />
                                <span asp-validation-for="WorkExperience[0].Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Start Date</label>
                                <input name="WorkExperience[0].StartDate" type="date" class="form-control" />
                                <span asp-validation-for="WorkExperience[0].StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>End Date</label>
                                <input name="WorkExperience[0].EndDate" type="date" class="form-control" />
                                <span asp-validation-for="WorkExperience[0].EndDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <button type="button" id="add-workExperience" class="btn btn-secondary">Add Work Experience</button>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function ()
        {
            var educationIndex = 1;
            $('#add-education').click(function ()
            {
                var template = $('.education-template').first().clone();
                template.find('input').each(function ()
                {
                    var newName = $(this).attr('name').replace('[0]', '[' + educationIndex + ']');
                    $(this).attr('name', newName);
                    $(this).val('');
                });
                template.appendTo('#educations');
                educationIndex++;
            });

            var workExperienceIndex = 1;
            $('#add-workExperience').click(function ()
            {
                var template = $('.workExperience-template').first().clone();
                template.find('input').each(function ()
                {
                    var newName = $(this).attr('name').replace('[0]', '[' + workExperienceIndex + ']');
                    $(this).attr('name', newName);
                    $(this).val('');
                });
                template.appendTo('#workExperiences');
                workExperienceIndex++;
            });
        });
    </script>
}

